In [1]:
import pandas as pd
import numpy as np

# Show all pandas rows/cols:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 100)
pd.set_option('display.max_colwidth', 100)

# Wide display:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

import data_prep as dp
import data_analysis as da

# Data load and prep:

In [2]:
print('Getting df...')
df = dp.return_dataset()
print('Getting word dict...')
words_dict = da.get_words_dict(list(df['sentence']))
print(f'Done! There are [{len(words_dict)}] distinct words used in the texts and the df containts [{len(df)}] sentences')
print('Showing sample of the df:')
df.sample(2)

Getting df...
Getting word dict...
Done! There are [17393] distinct words used in the texts and the df containts [36319] sentences
Showing sample of the df:

,sentence,NUM,LIBRARY,AUTHOR,TEXT_NAME,TRANSLATION,AUTHOR_LIBRARY,char_count,words_count
2768,thou shalt not go up and down as a talebearer among thy people neither shalt thou stand against ...,003,OT,Moses,Leviticus,King James,Moses_OT,138,28
21657,"if thy whole body therefore be full of light , having no part dark , the whole shall be full of ...",041,NT,StLuke,The Gospel According to Saint Luke,King James,StLuke_NT,163,35

# Word Freq and Count comparison:
For every LIBRARY (Bible OT and NT, Nag Hammady or Control) or for every AUTHOR, <br>
we are going to compare how much more words the text by the given AUTHOR/LIBRAY uses (Y axis) <br>
and the difference in the frequency of apperance of the specific words (X axis) <br>
<br>
Then we are going to plot the results for visualization

In [ ]:
results = da.freq_compare_with_Bible_loop(df, words_dict, texts='all')
results.sample(2)

Comparing all texts...

In [ ]:
da.word_freq_and_count_plot(results, who='LIBRARY')

In [ ]:
da.word_freq_and_count_plot(results, who='AUTHOR_LIBRARY')